// nextflow.config

conda {
  enabled = true
  channels = ['conda-forge','bioconda','defaults']
}

params {
  genomes  = "${projectDir}/../test/*.fna"
  bakta_db = "${projectDir}/data/bakta_db/db"   
  outdir   = "${projectDir}/results"
  help     = false
}

process {
  withLabel: 'bakta' {
    cpus = 16
    memory = '15 GB'
    maxForks = 2
    publishDir = { "${params.outdir}/bakta/${task.tag}" }
  }
  withLabel: 'panaroo' {
    cpus = 16
    memory = '20 GB'
    publishDir = { "${params.outdir}/panaroo" }
  }
}

profiles {
  standard { }
  conda {
    conda.enabled = true
    conda.channels = ['conda-forge','bioconda','defaults']
  }
}